<div class="content">
  <h1>{{ $ctrl.riskData.title }}</h1>

  <table class="risks-table pure-table pure-table-horizontal">
    <thead>
        <tr>
            <th></th>
            <th>Attack Vector</th>
            <th class="colspan" colspan="2">Security Weakness</th>
            <th>Technical Impacts</th>
        </tr>
        <tr>
            <th class="title">
            	<a href="javascript://" ng-click="$ctrl.sortBy('rank')">Vulnerability</a><i ng-if="$ctrl.isSortedBy('rank')" class="material-icons">{{ $ctrl.getSortIcon() }}</i>
            </th>
            <th class="data">
            	<a href="javascript://" ng-click="$ctrl.sortBy('exploitability')">Exploitability</a><i ng-if="$ctrl.isSortedBy('exploitability')" class="material-icons">{{ $ctrl.getSortIcon() }}</i>
            </th>
            <th class="data">
            	<a href="javascript://" ng-click="$ctrl.sortBy('prevalence')">Prevalence</a><i ng-if="$ctrl.isSortedBy('prevalence')" class="material-icons">{{ $ctrl.getSortIcon() }}</i>
            </th>
            <th class="data">
            	<a href="javascript://" ng-click="$ctrl.sortBy('detectability')">Detectability</a><i ng-if="$ctrl.isSortedBy('detectability')" class="material-icons">{{ $ctrl.getSortIcon() }}</i>
            </th>
            <th class="data">
            	<a href="javascript://" ng-click="$ctrl.sortBy('impact')">Impact<a><i ng-if="$ctrl.isSortedBy('impact')" class="material-icons">{{ $ctrl.getSortIcon() }}</i>
            </th>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="risk in $ctrl.riskData.risks | orderBy : $ctrl.propertyName : $ctrl.isReversed">
            <td class="title" ng-class="{highlighted: $ctrl.isSortedBy('rank')}">{{ risk.title }}</td>
            <td ng-class="{highlighted: $ctrl.isSortedBy('exploitability')}"><i class="material-icons" ng-class="{high: risk.exploitability <= 1}">error</i> {{ risk.exploitabilityLabel }}</td>
            <td ng-class="{highlighted: $ctrl.isSortedBy('prevalence')}"><i class="material-icons" ng-class="{high: risk.prevalence <= 1}">error</i> {{ risk.prevalenceLabel }}</td>
            <td ng-class="{highlighted: $ctrl.isSortedBy('detectability')}"><i class="material-icons" ng-class="{high: risk.detectability <= 1}">error</i> {{ risk.detectabilityLabel }}</td>
            <td ng-class="{highlighted: $ctrl.isSortedBy('impact')}"><i class="material-icons" ng-class="{high: risk.impact <= 1}">error</i> {{ risk.impactLabel }}</td>
        </tr>

    </tbody>
	</table>
</div>
